<!DOCTYPE html>
<html>
<head>
  <title>FlightHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Set a timeout to remove the notice after 15 seconds
      const notice = document.getElementById('notice');
      if (notice) {
        setTimeout(() => {
          notice.style.display = 'none';
        }, 15000); // 15 seconds
      }
    });
  </script>
</head>

<body>
  <%= render 'layouts/navbar' %>

  <div class="container mt-4">
    <% if notice %>
      <div id="notice" class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div id="alert" class="alert alert-danger"><%= alert %></div>
    <% end %>

    <%= yield %>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
